
<h1><%= @project.title %></h1>

<%=

  debug @sorted_all_data
      
 %>

<p>Project creator: <%= @project.creator %></p>

<p>Current project status: <%= @status_data[-1]["status"] %><br>
  <em>As of <%= ~status_data[-1]["created_at"] %></em>
</p>



<h3>Conversation history</h3>

<%=# @sorted_all_data.each do |data| %>

<%=# if data[:type] === "status" %>
  <p>
    <%=# status.status %> <em><%= status.created_at %> </em>
  </p>

  <%=# else %>

  <p>
    <strong><%=# comment.creator %></strong> <em><%=# comment.created_at %> </em>
    <br>
    <%=# comment.body %> <strong>#<%=# comment.tag %></strong>
  </p>
  

<%# end %>



<h3>Status log</h3>
<% @project.statuses.each do |status| %>
<% end %>

<%= form_with model: [ @project, @project.statuses.build ] do |form| %>
  <p>
    <%= form.text_field :status %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>


<h3>Comments</h3>

<%= form_with model: [ @project, @project.comments.build ] do |form| %>

  <p>
    <%= form.label :creator %> 
    <%= form.text_field :creator %>
  </p>
  
  <p>
    <%= form.label :tag %>
    <%= form.text_field :tag %>
  </p>
  
  <p>
    <%= form.text_area :body %>
  </p>
  
  <p>
    <%= form.submit %>
  </p>

<% end %>


<% @project.comments.each do |comment| %>
<% end %>
