
<h1><%= @project.title %></h1>

<p>Project creator: <%= @project.creator %></p>

<p>Project status: <%= @project.status %></p>


<%= form_with model: [ @project, @project.comments.build ] do |form| %>

  <p>
    <%= form.label :creator %> 
    <%= form.text_field :creator %>
  </p>
  
  <p>
    <%= form.label :tag %>
    <%= form.text_field :tag %>
  </p>
  
  <p>
    <%= form.text_area :body %>
  </p>
  
  <p>
    <%= form.submit %>
  </p>

<% end %>


<% @project.comments.each do |comment| %>
  <p>
    <strong><%= comment.creator %></strong> <em><%= comment.created_at %> </em>
    <br>
    <%= comment.body %> <strong>#<%= comment.tag %></strong>
  </p>
<% end %>
