<h1><%= @project.title %></h1>

<p>Project creator: <%= @project.creator %></p>

<p>Project status: <%= @project.status %></p>



<h2>Add a comment:</h2>

<%= form_with model: [ @project, @project.comments.build ] do |form| %>

  <p>
    <%= form.label :creator %><br>
    <%= form.text_field :creator %>
  </p>
  
  <p>
    <%= form.label :tag %><br>
    <%= form.text_field :tag %>
  </p>
  
  <p>
    <%= form.label :body %><br>
    <%= form.text_area :body %>
  </p>
  
  <p>
    <%= form.submit %>
  </p>

<% end %>


<% @project.comments.each do |comment| %>
  <p>
    <strong>Commenter:</strong>
    <%= comment.creator %>
  </p>

  <p>
    <strong>Comment:</strong>
    <%= comment.body %>
  </p>
<% end %>
