
<h1><%= @project.title %></h1>

<%#  debug @sorted_all_data   %>

<p>Project creator: <%= @project.creator %></p>

<p>Current project status: <strong><%= @status_data[-1]["status"] %></strong> <br><em>...as of <%= @status_data[-1]["created_at"] %></em>
</p>


<% @project.statuses.each do |status| %>
<% end %>

<%= form_with model: [ @project, @project.statuses.build ] do |form| %>
  <p>
    <%= form.text_field :status %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>



<%= form_with model: [ @project, @project.comments.build ] do |form| %>

  <p>
    <%= form.label :creator %> 
    <%= form.text_field :creator %>
  </p>
  
  <p>
    <%= form.label :tag %>
    <%= form.text_field :tag %>
  </p>
  
  <p>
    <%= form.text_area :body %>
  </p>
  
  <p>
    <%= form.submit %>
  </p>

<% end %>



<h3>Conversation history</h3>

<% @sorted_all_data.each do |data| %>

<% if data[:type] == "status" %>
  <p>
    &#x1F38F; <strong>Status updated to <%= data["status"] %></strong> <em><%= data["created_at"] %> </em>
  </p>

  <% else %>

  <p>
    &#x1F4AC; <strong><%= data["creator"] %></strong>  <em><%= data["created_at"] %> </em>
    <br>
    <%= data["body"] %> <strong>#<%= data["tag"] %></strong>
  </p>

  <% end %>

<% end %>



